* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: clamp(14px, 1vw, 18px);
    font-family: cursive;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from {
        --rotate: 0deg
    }

    to {
        --rotate: 360deg
    }
}

.box {
    margin-top: 30px;
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 0 0px rgb(255, 0, 60);
    background: linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(255, 0, 60), black) border-box;
    border: 0px solid rgb(255, 255, 255, 0);
    animation: borderAnimate 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-play-state: paused;
    transition: all 0.3s linear;
    text-shadow: 0 0 20px rgba(255, 20, 70, 0.8);
    color: white;
    object-fit: contain;

}

.box:hover {
    box-shadow: 0 0 50px rgb(255, 0, 60);
    animation-play-state: running;
    border-width: 5px;
    color: rgb(255, 80, 120);
    text-shadow: 0 0 20px rgba(255, 20, 70, 0.8);
}

.box:nth-child(2) {
box-shadow: 0 0 0px rgb(226, 67, 205);
    background: linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(226, 67, 205), black) border-box;
    text-shadow: 0 0 20px rgba(226, 67, 205, 0.8);
}
.box:nth-child(2):hover{
    box-shadow: 0 0 50px rgb(226, 67, 205);
    color: rgb(255, 150, 240);
    text-shadow: 0 0 20px rgba(226, 67, 205, 0.8);
}



.box:nth-child(3) {
box-shadow: 0 0 0px rgb(171, 73, 255);
background: linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(171, 73, 255), black) border-box;
    text-shadow: 0 0 20px rgba(171, 73, 255, 0.8);
}
.box:nth-child(3):hover{
    box-shadow: 0 0 50px rgb(171, 73, 255);
    color: rgb(210, 160, 255);
    text-shadow: 0 0 20px rgba(171, 73, 255, 0.8);
}



.box:nth-child(4) {
box-shadow: 0 0 0px rgb(0, 150, 255);
background: linear-gradient(black) padding-box,
        conic-gradient(from var(--rotate), black, rgb(0, 150, 255), black) border-box;
    text-shadow: 0 0 20px rgba(0, 150, 255, 0.8);
}
.box:nth-child(4):hover{
    box-shadow: 0 0 50px rgb(0, 150, 255);
    color: rgb(120, 200, 255);;
    text-shadow: 0 0 20px rgba(0, 150, 255, 0.8);
}
.box img {
    width: 100%;
}